<div class="image">
  <div class="container">
  
    <!-- upper row -->
    <div class="row row-placing">
  
  
      <!-- left side of page -->
      <div class="col-sm-4 d-block form-placing">
        <h2 class="h2-styling">New's Emailer</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <div class="alert alert-danger" *ngIf="userRegion === 'Iran'" style="margin-bottom: 2rem;">
            This system is not supported in Iran, please change your IP address(use VPN).
          </div>
          <div class="alert alert-danger" *ngIf="serverError !== ''" style="margin-bottom: 2rem;">
            {{ serverError }}
          </div>
          <app-input-fields
            placeholder="Name"
            type="text"
            [control]="$any(name)"
            ></app-input-fields><br>
  
          <app-input-fields
            placeholder="Email"
            type="email"
            [control]="$any(email)"
            ></app-input-fields><br>
  
            <button class="btn btn-success" [disabled]="!form.valid || !doesUserHaveConditionsToSendEmail()">Add Email</button>
        </form>
      </div>
  
  
      <!-- right side of page -->
      <div class="col-sm-4" style="margin-top: 12rem;">
        <div class="alert alert-danger" *ngIf="userIPError !== ''">
          Faild to get your IP, if you are from Iran, please change your IP address then refresh the page.
        </div>
        <div class="alert alert-warning" *ngIf="userIPError === ''">
          If you are from Iran, please turn on your vpn.
        </div>
        <div class="alert alert-primary">
          The email containing latest news will be sent every day.
        </div>
        <div class="alert alert-light" *ngIf="numberOfUsers !== ''">
          There are currently {{ numberOfUsers }} people useing this app.
        </div>
      </div>
    </div>
  
  
    <!-- Explanation row -->
    <div class="row" style="margin-top: 10rem;">
      <div class="col-sm">
        <h2 class="white-header">The perpos of the page:</h2>
        <div class="alert alert-light">
          here will be the hole perpos of this webPage.
        </div>
      </div>
    </div>

    <!-- Why row -->
    <div class="row">

      <div class="col-sm">
        <h2 class="white-header" style="margin-top: 10rem;">Use this system only if:</h2>
        <div class="alert alert-success">
          you are board of folowing fake news on telegram
        </div>
  
        <div class="alert alert-success">
          you are board of whatching news on TV
        </div>
  
        <div class="alert alert-success">
          you don't have time for it
        </div>
  
        <div  style="margin-bottom: 10rem;"></div>
      </div>
    </div>
  
  </div>



  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; joseph. inc.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a target="_blank" class="facebook" href="https://github.com/josephosan" ><img src="../assets/images/github.png" alt="github icon"></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
</div>